In [2]:
#Defining Dependencies
import pandas as pd

In [3]:
#Importing GEO ID's
summ_geo_info = "data/GeoIDs - City.csv"
summ_geo_info_df = pd.read_csv(summ_geo_info)
summ_geo_info_df.head()

,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019
0,1,Los Angeles,CA,California,6,34.05,-118.24,10039107
1,2,New York City,NY,New York,36,40.71,-74.01,8336817
2,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233
3,4,Houston,TX,Texas,48,29.76,-95.37,4713325
4,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414

In [4]:
#Dropping un-need columns
geo_dropped = summ_geo_info_df.drop(columns=['statename', 'statefips'])
geo_dropped

    cityid          cityname stateabbrev    lat     lon  city_pop2019
0        1       Los Angeles          CA  34.05 -118.24      10039107
1        2     New York City          NY  40.71  -74.01       8336817
2        3           Chicago          IL  41.88  -87.63       5150233
3        4           Houston          TX  29.76  -95.37       4713325
4        5           Phoenix          AZ  33.45 -112.07       4485414
5        6         San Diego          CA  32.72 -117.16       3338330
6        7            Dallas          TX  32.78  -96.80       2635516
7        8         Las Vegas          NV  36.17 -115.14       2266715
8        9           Seattle          WA  47.61 -122.33       2252782
9       10        Fort Worth          TX  32.76  -97.33       2102515
10      11       San Antonio          TX  29.42  -98.49       2003554
11      12          San Jose          CA  37.34 -121.89       1927852
12      13           Detroit          MI  42.33  -83.05       1749343
13      14      Philadelphia          PA  39.95  -75.17       1584064
14      15          Columbus          OH  39.96  -83.00       1316756
15      16            Austin          TX  30.27  -97.74       1273954
16      17         Charlotte          NC  35.23  -80.84       1110356
17      18      Indianapolis          IN  39.77  -86.16        964582
18      19      Jacksonville          FL  30.33  -81.66        957755
19      20           Memphis          TN  35.15  -90.05        937166
20      21     San Francisco          CA  37.77 -122.42        881549
21      22           El Paso          TX  31.78 -106.44        839238
22      23         Baltimore          MD  39.29  -76.61        593490
23      24          Portland          OR  45.52 -122.68        812855
24      25            Boston          MA  42.36  -71.06        803907
25      26     Oklahoma City          OK  35.47  -97.52        797434
26      27        Louisville          KY  38.25  -85.76        766757
27      28            Denver          CO  39.74 -104.99        727211
28      29        Washington          DC  38.91  -77.04        705749
29      30         Nashville          TN  36.16  -86.78        694144
30      31         Milwaukee          WI  43.04  -87.91        945726
31      32       Albuquerque          NM  35.09 -106.61        679121
32      33            Tucson          AZ  32.22 -110.93       1047279
33      34            Fresno          CA  36.75 -119.77        999101
34      35        Sacramento          CA  38.58 -121.49       1552058
35      36           Atlanta          GA  33.75  -84.39       1063937
36      37       Kansas City          MO  39.10  -94.58        703011
37      38             Miami          FL  25.76  -80.19       2716940
38      39           Raleigh          NC  35.78  -78.64       1111761
39      40             Omaha          NE  41.25  -96.00        571327
40      41           Oakland          CA  37.80 -122.27       1671329
41      42       Minneapolis          MN  44.98  -93.27       1265843
42      43             Tampa          FL  27.95  -82.46       1471968
43      44       New Orleans          LA  29.95  -90.07        390144
44      45           Wichita          KS  37.69  -97.34        516042
45      46         Cleveland          OH  41.50  -81.69       1235072
46      47       Bakersfield          CA  35.37 -119.02        900202
47      48          Honolulu          HI  21.31 -157.86        974563
48      49             Boise          ID  43.62 -116.20        481587
49      50    Salt Lake City          UT  40.76 -111.89       1160437
50      51    Virginia Beach          VA  36.85  -75.98        449974
51      52  Colorado Springs          CO  38.83 -104.82        720403
52      53             Tulsa          OK  36.15  -95.99        651552

In [5]:
#Importing Womply
summ_womply_info = "data/Womply - City - Daily.csv"
summ_womply_info_df = pd.read_csv(summ_womply_info)
summ_womply_info_df.head()

,year,month,day,cityid,merchants_all,merchants_ss40,merchants_ss60,merchants_ss65,merchants_ss70,revenue_all,revenue_ss40,revenue_ss60,revenue_ss65,revenue_ss70
0,2020,1,10,1,-0.00549,-0.00228,-.00958,-0.01320,0.000077,-0.01250,-0.02480,.0061,-0.0124,-0.01370
1,2020,1,10,2,0.00446,0.00902,-.0249,-0.01630,0.007980,0.00914,-0.00202,.0687,-0.0464,0.03070
2,2020,1,10,3,-0.02340,-0.02080,-.0576,-0.04550,-0.014500,-0.08430,-0.16600,-.0849,-0.0404,-0.04590
3,2020,1,10,4,0.00703,0.01570,.0184,0.00374,0.003980,-0.05660,-0.08300,-.0627,-0.0461,-0.00946
4,2020,1,10,5,0.00891,0.02560,-.0013,0.01110,0.005610,-0.01100,-0.01070,-.0252,-0.0288,0.00742

In [6]:
#Dropping un-needed columns
womply_dropped = summ_womply_info_df.drop(columns=['merchants_ss40', 'merchants_ss60',
                                 'merchants_ss65', 'merchants_ss70',
                                 'revenue_all','revenue_ss40',
                                  'revenue_ss60','revenue_ss65',
                                 'revenue_ss70'])
womply_dropped

       year  month  day  cityid  merchants_all
0      2020      1   10       1       -0.00549
1      2020      1   10       2        0.00446
2      2020      1   10       3       -0.02340
3      2020      1   10       4        0.00703
4      2020      1   10       5        0.00891
...     ...    ...  ...     ...            ...
21641  2021      2   22      48       -0.28200
21642  2021      2   22      50       -0.24700
21643  2021      2   22      51       -0.35900
21644  2021      2   22      52       -0.29100
21645  2021      2   22      53       -0.39500

[21646 rows x 5 columns]

In [7]:
#Merging geo and womply df's
merge_df = pd.merge(geo_dropped, womply_dropped, on="cityid")
merge_df

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all
0,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,10,-0.00549
1,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,11,-0.00538
2,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,12,-0.00837
3,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,13,-0.01200
4,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,14,-0.00997
...,...,...,...,...,...,...,...,...,...,...
21641,53,Tulsa,OK,36.15,-95.99,651552,2021,2,18,-0.44200
21642,53,Tulsa,OK,36.15,-95.99,651552,2021,2,19,-0.44000
21643,53,Tulsa,OK,36.15,-95.99,651552,2021,2,20,-0.42900
21644,53,Tulsa,OK,36.15,-95.99,651552,2021,2,21,-0.41000
21645,53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.39500

In [14]:
#finding the info only on the 22nd of the month
monthly_ = merge_df['day'] == 22
monthly_merge_df = merge_df[monthly_]
monthly_merge_df

,cityid,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all
12,1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,22,0.0147
43,1,Los Angeles,CA,34.05,-118.24,10039107,2020,2,22,-0.0120
72,1,Los Angeles,CA,34.05,-118.24,10039107,2020,3,22,-0.2750
103,1,Los Angeles,CA,34.05,-118.24,10039107,2020,4,22,-0.3990
133,1,Los Angeles,CA,34.05,-118.24,10039107,2020,5,22,-0.3170
...,...,...,...,...,...,...,...,...,...,...
21522,53,Tulsa,OK,36.15,-95.99,651552,2020,10,22,-0.2530
21553,53,Tulsa,OK,36.15,-95.99,651552,2020,11,22,-0.2750
21583,53,Tulsa,OK,36.15,-95.99,651552,2020,12,22,-0.2430
21614,53,Tulsa,OK,36.15,-95.99,651552,2021,1,22,-0.2930
21645,53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.3950

In [17]:
#merging by cityid
month_merge_df = monthly_merge_df.set_index("cityid")
month_merge_df

,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all
cityid,,,,,,,,,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,22,0.0147
1,Los Angeles,CA,34.05,-118.24,10039107,2020,2,22,-0.0120
1,Los Angeles,CA,34.05,-118.24,10039107,2020,3,22,-0.2750
1,Los Angeles,CA,34.05,-118.24,10039107,2020,4,22,-0.3990
1,Los Angeles,CA,34.05,-118.24,10039107,2020,5,22,-0.3170
...,...,...,...,...,...,...,...,...,...
53,Tulsa,OK,36.15,-95.99,651552,2020,10,22,-0.2530
53,Tulsa,OK,36.15,-95.99,651552,2020,11,22,-0.2750
53,Tulsa,OK,36.15,-95.99,651552,2020,12,22,-0.2430
53,Tulsa,OK,36.15,-95.99,651552,2021,1,22,-0.2930
53,Tulsa,OK,36.15,-95.99,651552,2021,2,22,-0.3950

In [22]:
#adding column to find difference
month_merge_df['Merchants Difference'] = ""
month_merge_df.head(50)

,cityname,stateabbrev,lat,lon,city_pop2019,year,month,day,merchants_all,Merchants Difference
cityid,,,,,,,,,,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,1,22,0.014700,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,2,22,-0.012000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,3,22,-0.275000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,4,22,-0.399000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,5,22,-0.317000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,6,22,-0.265000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,7,22,-0.296000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,8,22,-0.313000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,9,22,-0.294000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,10,22,-0.261000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,11,22,-0.256000,
1,Los Angeles,CA,34.05,-118.24,10039107,2020,12,22,-0.324000,
1,Los Angeles,CA,34.05,-118.24,10039107,2021,1,22,-0.362000,
1,Los Angeles,CA,34.05,-118.24,10039107,2021,2,22,-0.333000,
2,New York City,NY,40.71,-74.01,8336817,2020,1,22,0.002910,
2,New York City,NY,40.71,-74.01,8336817,2020,2,22,-0.003000,
2,New York City,NY,40.71,-74.01,8336817,2020,3,22,-0.269000,
2,New York City,NY,40.71,-74.01,8336817,2020,4,22,-0.492000,
2,New York City,NY,40.71,-74.01,8336817,2020,5,22,-0.390000,
2,New York City,NY,40.71,-74.01,8336817,2020,6,22,-0.348000,
2,New York City,NY,40.71,-74.01,8336817,2020,7,22,-0.289000,
2,New York City,NY,40.71,-74.01,8336817,2020,8,22,-0.287000,
2,New York City,NY,40.71,-74.01,8336817,2020,9,22,-0.297000,
2,New York City,NY,40.71,-74.01,8336817,2020,10,22,-0.273000,
2,New York City,NY,40.71,-74.01,8336817,2020,11,22,-0.292000,
2,New York City,NY,40.71,-74.01,8336817,2020,12,22,-0.344000,
2,New York City,NY,40.71,-74.01,8336817,2021,1,22,-0.399000,
2,New York City,NY,40.71,-74.01,8336817,2021,2,22,-0.420000,
3,Chicago,IL,41.88,-87.63,5150233,2020,1,22,-0.024200,
3,Chicago,IL,41.88,-87.63,5150233,2020,2,22,-0.050700,
3,Chicago,IL,41.88,-87.63,5150233,2020,3,22,-0.280000,
3,Chicago,IL,41.88,-87.63,5150233,2020,4,22,-0.406000,
3,Chicago,IL,41.88,-87.63,5150233,2020,5,22,-0.349000,
3,Chicago,IL,41.88,-87.63,5150233,2020,6,22,-0.306000,
3,Chicago,IL,41.88,-87.63,5150233,2020,7,22,-0.294000,
3,Chicago,IL,41.88,-87.63,5150233,2020,8,22,-0.310000,
3,Chicago,IL,41.88,-87.63,5150233,2020,9,22,-0.319000,
3,Chicago,IL,41.88,-87.63,5150233,2020,10,22,-0.306000,
3,Chicago,IL,41.88,-87.63,5150233,2020,11,22,-0.351000,
3,Chicago,IL,41.88,-87.63,5150233,2020,12,22,-0.340000,
3,Chicago,IL,41.88,-87.63,5150233,2021,1,22,-0.357000,
3,Chicago,IL,41.88,-87.63,5150233,2021,2,22,-0.396000,
4,Houston,TX,29.76,-95.37,4713325,2020,1,22,0.002650,
4,Houston,TX,29.76,-95.37,4713325,2020,2,22,0.000262,
4,Houston,TX,29.76,-95.37,4713325,2020,3,22,-0.172000,
4,Houston,TX,29.76,-95.37,4713325,2020,4,22,-0.326000,
4,Houston,TX,29.76,-95.37,4713325,2020,5,22,-0.166000,
4,Houston,TX,29.76,-95.37,4713325,2020,6,22,-0.275000,
4,Houston,TX,29.76,-95.37,4713325,2020,7,22,-0.320000,
4,Houston,TX,29.76,-95.37,4713325,2020,8,22,-0.374000,

In [ ]:
#find the month to month difference