In [1]:
import requests
import json
import pprint as pprint
import prettytable
import pandas as pd
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import time

In [2]:
#Get data for Modeled Wage Estimate (MWE) from BLS.gov. Limitation: Most recent data is 2019.
#The essential output is producing a list of cities per the base GEO dataset
#of the MWE in $/hr based on a user's choice of occupation, ensuring each city has something for output.
#The series names encode several qualifying properties, such as location and occupation, which
#are not displayed at the url and must be decoded for use.
url = "https://download.bls.gov/pub/time.series/wm/wm.data.1.AllData"
response = requests.get(url).text
no_r_list = response.split('\r\n')
no_t_list = [row.split('\t') for row in no_r_list]
column_head = [item.strip() for item in no_t_list[0]]
row_list = no_t_list[1::]
df_dic = {}
for column in range(len(column_head)-1): 
        df_dic[column_head[column]]= [row_list[row][column] for row in range(len(row_list)-1)]
                                       
BLS_MWE_df = pd.DataFrame(df_dic)
BLS_MWE_df = BLS_MWE_df.rename(columns={"value": "MWE"})

In [3]:
# Build dictionary (and reverse dictionary) based on the lookup tables from the urls.
url_dic = {}
url_dic = {"MWE_Location": "https://download.bls.gov/pub/time.series/wm/wm.area",
           "MWE_Occupation Type": "https://download.bls.gov/pub/time.series/wm/wm.occupation",
           "MWE_Skill Level": "https://download.bls.gov/pub/time.series/wm/wm.level",
           "MWE_How Paid": "https://download.bls.gov/pub/time.series/wm/wm.subcell"}
series_dic={}
inv_series_dic={}
for key in url_dic:
        time.sleep(0.25)
        response = requests.get(url_dic[key]).text
        no_r_list = response.split('\r\n')
        no_t_list = [row.split('\t') for row in no_r_list]
        no_t_list[0][0]
        dictionary={no_t_list[i][0]: no_t_list[i][1] for i in range(len(no_t_list)-1)}
        inv_dictionary={no_t_list[i][1]: no_t_list[i][0] for i in range(len(no_t_list)-1)}
        series_dic[key] = dictionary
        inv_series_dic[key] = inv_dictionary

In [4]:
# Identify where in the series_id string the codes for the above are.
BLS_MWE_Series_String_dic = {"MWE_Location": [3,10],
                             "MWE_Occupation Type": [19,25], 
                             "MWE_Skill Level": [27,29],
                             "MWE_How Paid": [25,27]}

In [16]:
# Create a dictionary to match GEO city identifiers with BLS city identifiers. 
# Dictionary should input the GEO data, pass through BLS data, and return the Location codes that are part of 
# querying BLS Series.

GeoID_2_BLS_Locations_df = pd.read_csv("../data/GeoIDs - City.csv")
GeoID_2_BLS_Locations_df["city, state"] = GeoID_2_BLS_Locations_df["cityname"] + ", " + GeoID_2_BLS_Locations_df["stateabbrev"]


GEO_to_BLS_Location_dic={}
GEO_to_BLS_citynotfound_list=[]
GEO_to_BLS_howtranslated = {}
i=0

for citystate in GeoID_2_BLS_Locations_df["city, state"]:
    GEO_citystate = GeoID_2_BLS_Locations_df[GeoID_2_BLS_Locations_df["city, state"]==citystate]["city, state"].tolist()[0]
    GEO_city = GeoID_2_BLS_Locations_df[GeoID_2_BLS_Locations_df["city, state"]==citystate]["cityname"].tolist()[0]
    GEO_state_full = GeoID_2_BLS_Locations_df[GeoID_2_BLS_Locations_df["city, state"]==citystate]["statename"].tolist()[0]
    GEO_state_abbrev = GeoID_2_BLS_Locations_df[GeoID_2_BLS_Locations_df["city, state"]==citystate]["stateabbrev"].tolist()[0]
    try:    
        inv_series_dic['MWE_Location'][GEO_citystate]
        GEO_to_BLS_Location_dic[citystate] = GEO_citystate
        GEO_to_BLS_howtranslated[citystate] = "directly"
    except:
        try:
            GEO_to_BLS_Location_dic[citystate] = [key for key in list(inv_series_dic['MWE_Location'].keys()) \
                if GEO_city in key \
                if GEO_state_abbrev in key[key.find(",")::]][0]
            GEO_to_BLS_howtranslated[citystate] = "best match"
        except:
            try: 
                inv_series_dic['MWE_Location'][GEO_state_full][0]
                GEO_to_BLS_Location_dic[citystate] = GEO_state_full
                GEO_to_BLS_howtranslated[citystate] = "state only"
            except: 
                GEO_to_BLS_Location_dic[citystate] = float("NaN")
                i=i+1
                GEO_to_BLS_citynotfound_list.append(citystate)
                print(f"WARNING: {i} cities not found: {GEO_to_BLS_citynotfound_list}")

GEO_to_BLS_Location_Code_Lookup={key:inv_series_dic['MWE_Location'][value]\
                                for (key,value) in GEO_to_BLS_Location_dic.items()}
inv_GEO_to_BLS_Location_Code_Lookup = {inv_series_dic['MWE_Location'][value]:key\
                                for (key,value) in GEO_to_BLS_Location_dic.items()}

In [6]:
# Add relevant columns to the overall dataframe. Check that all cities from GEO dataset were mapped to cities in BLS. 
print("Dataframe Augmented Columns for keys and values for:")
for dic_field in list(url_dic.keys()):
    print(dic_field)
    BLS_MWE_df[dic_field] = [series_dic[dic_field][series[BLS_MWE_Series_String_dic[dic_field][0]:\
                                                              BLS_MWE_Series_String_dic[dic_field][1]]] \
                            for series in BLS_MWE_df["series_id"].tolist()]
    BLS_MWE_df[dic_field+"_code"] = [series[BLS_MWE_Series_String_dic[dic_field][0]:\
                                                              BLS_MWE_Series_String_dic[dic_field][1]] \
                            for series in BLS_MWE_df["series_id"].tolist()]
GEO_citystate =[]
print("GEO_citystate")
for series in BLS_MWE_df["series_id"].tolist(): 
    try:
        GEO_citystate.append(inv_GEO_to_BLS_Location_Code_Lookup[series[BLS_MWE_Series_String_dic["MWE_Location"][0]:\
                                                                    BLS_MWE_Series_String_dic["MWE_Location"][1]]])
    except:
        GEO_citystate.append(float("NaN"))
BLS_MWE_df["GEO_city,state"] = GEO_citystate
print("End of List.")
# remove any values that could not be matched to GEO Cities.
BLS_MWE_df_clean = BLS_MWE_df.dropna(how = "any")
# Confirm resultant dataframe has as many city/states as original dataframe.
print(f"Matched {len(GeoID_2_BLS_Locations_df.index)} cities from GEO to {BLS_MWE_df_clean['GEO_city,state'].nunique()} cities from BLS.")

Dataframe Augmented Columns for keys and values for:
MWE_Location
MWE_Occupation Type
MWE_Skill Level
MWE_How Paid
GEO_citystate
End of List.
Matched 53 cities from GEO to 51 cities from BLS.

In [7]:
# Check for any leftover cities, see if BLS lumps them in with cities already processed.
for city in GeoID_2_BLS_Locations_df["city, state"].tolist():
    if city not in BLS_MWE_df_clean['GEO_city,state'].unique().tolist():
        try:
            city_temp = GEO_to_BLS_Location_Code_Lookup[city]
            temp_df = BLS_MWE_df[BLS_MWE_df["MWE_Location_code"]==city_temp].reset_index(drop=True) 
            temp_df["GEO_city,state"] = [city for i in range(len(temp_df["GEO_city,state"]))]
            BLS_MWE_df_clean = BLS_MWE_df_clean.append(temp_df)
            BLS_MWE_df_clean=BLS_MWE_df_clean.reset_index(drop=True)
        except:
            print(f"{city} could not be added.")
print(f"Matched {len(GeoID_2_BLS_Locations_df.index)} cities from GEO to {BLS_MWE_df_clean['GEO_city,state'].nunique()} cities from BLS.")

Matched 53 cities from GEO to 53 cities from BLS.

In [12]:
# Occupation code builder, lets user choose.
BLS_Occupation = [key for key in list(series_dic["MWE_Occupation Type"].keys()) if "000"in key]
for key in BLS_Occupation:
    print(f"{key}: {series_dic['MWE_Occupation Type'][key]}")
Occupation = input("Please choose from the occupation type codes:") # Occupation type (change this)
# Error handling.
try:
    series_dic["MWE_Occupation Type"][Occupation]
except:
    ## Ideally need a clear screen line. Need help with this.
    for key in BLS_Occupation:
        print(f"{key}: {series_dic['MWE_Occupation Type'][key]}")
    print("Invalid Occupation code was chosen. Please try again.")
    Occupation = input("Please choose from the following occupation type codes:")
# End occupation code build.
BLS_MWE_df_choice = BLS_MWE_df_clean[BLS_MWE_df_clean["MWE_Occupation Type_code"]==Occupation]

110000: Management occupations
130000: Business and financial operations occupations
150000: Computer and mathematical occupations
170000: Architecture and engineering occupations
190000: Life, physical, and social science occupations
210000: Community and social service occupations
230000: Legal occupations
250000: Educational instruction and library occupations
270000: Arts, design, entertainment, sports, and media occupations
290000: Healthcare practitioners and technical occupations
310000: Healthcare support occupations
330000: Protective service occupations
350000: Food preparation and serving related occupations
370000: Building and grounds cleaning and maintenance occupations
390000: Personal care and service occupations
410000: Sales and related occupations
430000: Office and administrative support occupations
470000: Construction and extraction occupations
490000: Installation, maintenance, and repair occupations
510000: Production occupations
530000: Transportation and material moving occupations
Please choose from the following occupation type codes:130000

In [15]:
GeoID_2_BLS_Locations_df

,cityid,cityname,stateabbrev,statename,statefips,lat,lon,city_pop2019,"GEO_city,state"
0,1,Los Angeles,CA,California,6,34.05,-118.24,10039107,"Los Angeles, CA"
1,2,New York City,NY,New York,36,40.71,-74.01,8336817,"New York City, NY"
2,3,Chicago,IL,Illinois,17,41.88,-87.63,5150233,"Chicago, IL"
3,4,Houston,TX,Texas,48,29.76,-95.37,4713325,"Houston, TX"
4,5,Phoenix,AZ,Arizona,4,33.45,-112.07,4485414,"Phoenix, AZ"
5,6,San Diego,CA,California,6,32.72,-117.16,3338330,"San Diego, CA"
6,7,Dallas,TX,Texas,48,32.78,-96.80,2635516,"Dallas, TX"
7,8,Las Vegas,NV,Nevada,32,36.17,-115.14,2266715,"Las Vegas, NV"
8,9,Seattle,WA,Washington,53,47.61,-122.33,2252782,"Seattle, WA"
9,10,Fort Worth,TX,Texas,48,32.76,-97.33,2102515,"Fort Worth, TX"
10,11,San Antonio,TX,Texas,48,29.42,-98.49,2003554,"San Antonio, TX"
11,12,San Jose,CA,California,6,37.34,-121.89,1927852,"San Jose, CA"
12,13,Detroit,MI,Michigan,26,42.33,-83.05,1749343,"Detroit, MI"
13,14,Philadelphia,PA,Pennsylvania,42,39.95,-75.17,1584064,"Philadelphia, PA"
14,15,Columbus,OH,Ohio,39,39.96,-83.00,1316756,"Columbus, OH"
15,16,Austin,TX,Texas,48,30.27,-97.74,1273954,"Austin, TX"
16,17,Charlotte,NC,North Carolina,37,35.23,-80.84,1110356,"Charlotte, NC"
17,18,Indianapolis,IN,Indiana,18,39.77,-86.16,964582,"Indianapolis, IN"
18,19,Jacksonville,FL,Florida,12,30.33,-81.66,957755,"Jacksonville, FL"
19,20,Memphis,TN,Tennessee,47,35.15,-90.05,937166,"Memphis, TN"
20,21,San Francisco,CA,California,6,37.77,-122.42,881549,"San Francisco, CA"
21,22,El Paso,TX,Texas,48,31.78,-106.44,839238,"El Paso, TX"
22,23,Baltimore,MD,Maryland,24,39.29,-76.61,593490,"Baltimore, MD"
23,24,Portland,OR,Oregon,41,45.52,-122.68,812855,"Portland, OR"
24,25,Boston,MA,Massachusetts,25,42.36,-71.06,803907,"Boston, MA"
25,26,Oklahoma City,OK,Oklahoma,40,35.47,-97.52,797434,"Oklahoma City, OK"
26,27,Louisville,KY,Kentucky,21,38.25,-85.76,766757,"Louisville, KY"
27,28,Denver,CO,Colorado,8,39.74,-104.99,727211,"Denver, CO"
28,29,Washington,DC,District of Columbia,11,38.91,-77.04,705749,"Washington, DC"
29,30,Nashville,TN,Tennessee,47,36.16,-86.78,694144,"Nashville, TN"
30,31,Milwaukee,WI,Wisconsin,55,43.04,-87.91,945726,"Milwaukee, WI"
31,32,Albuquerque,NM,New Mexico,35,35.09,-106.61,679121,"Albuquerque, NM"
32,33,Tucson,AZ,Arizona,4,32.22,-110.93,1047279,"Tucson, AZ"
33,34,Fresno,CA,California,6,36.75,-119.77,999101,"Fresno, CA"
34,35,Sacramento,CA,California,6,38.58,-121.49,1552058,"Sacramento, CA"
35,36,Atlanta,GA,Georgia,13,33.75,-84.39,1063937,"Atlanta, GA"
36,37,Kansas City,MO,Missouri,29,39.10,-94.58,703011,"Kansas City, MO"
37,38,Miami,FL,Florida,12,25.76,-80.19,2716940,"Miami, FL"
38,39,Raleigh,NC,North Carolina,37,35.78,-78.64,1111761,"Raleigh, NC"
39,40,Omaha,NE,Nebraska,31,41.25,-96.00,571327,"Omaha, NE"
40,41,Oakland,CA,California,6,37.80,-122.27,1671329,"Oakland, CA"
41,42,Minneapolis,MN,Minnesota,27,44.98,-93.27,1265843,"Minneapolis, MN"
42,43,Tampa,FL,Florida,12,27.95,-82.46,1471968,"Tampa, FL"
43,44,New Orleans,LA,Louisiana,22,29.95,-90.07,390144,"New Orleans, LA"
44,45,Wichita,KS,Kansas,20,37.69,-97.34,516042,"Wichita, KS"
45,46,Cleveland,OH,Ohio,39,41.50,-81.69,1235072,"Cleveland, OH"
46,47,Bakersfield,CA,California,6,35.37,-119.02,900202,"Bakersfield, CA"
47,48,Honolulu,HI,Hawaii,15,21.31,-157.86,974563,"Honolulu, HI"
48,49,Boise,ID,Idaho,16,43.62,-116.20,481587,"Boise, ID"
49,50,Salt Lake City,UT,Utah,49,40.76,-111.89,1160437,"Salt Lake City, UT"
50,51,Virginia Beach,VA,Virginia,51,36.85,-75.98,449974,"Virginia Beach, VA"
51,52,Colorado Springs,CO,Colorado,8,38.83,-104.82,720403,"Colorado Springs, CO"
52,53,Tulsa,OK,Oklahoma,40,36.15,-95.99,651552,"Tulsa, OK"

In [17]:
# Ensures each city will display an MWE based on the occupation choice with one layer of error catching.
# If still not found, displays "Not Found"
BLS_MWE_df_choice = BLS_MWE_df_clean[(BLS_MWE_df_clean["MWE_Occupation Type_code"]==Occupation) \
            &(BLS_MWE_df_clean["MWE_Skill Level_code"]=="00") \
            &(BLS_MWE_df_clean["MWE_How Paid_code"]=="25")]
#    print(series_dic['MWE_Occupation Type'][Occupation])
for city in GeoID_2_BLS_Locations_df["city, state"]:
        if BLS_MWE_df_choice[BLS_MWE_df_choice["GEO_city,state"]==city]["MWE"].count()==0:
                try:
                    new_row = BLS_MWE_df_clean[(BLS_MWE_df_clean["MWE_Occupation Type_code"]==Occupation)\
                                               &(BLS_MWE_df_clean["GEO_city,state"]==city)].reset_index(drop=True)
                    BLS_MWE_df_choice = BLS_MWE_df_choice.append(new_row.iloc[0,:])
                except:
                    temp_dic={}
                    for key in BLS_MWE_df_choice.columns:
                        temp_dic[key]=["Not Found"] 
                    new_row = pd.DataFrame(data=temp_dic)
                    new_row["GEO_city,state"] = city
                    BLS_MWE_df_choice.append(pd.DataFrame(new_row)).reset_index(drop=True)

In [18]:
GeoID_2_BLS_Locations_df=GeoID_2_BLS_Locations_df.rename(columns = {"city, state":"GEO_city,state"})
BLS_GEO_df_merge = BLS_MWE_df_choice.merge(GeoID_2_BLS_Locations_df, how="outer",on="GEO_city,state")

In [20]:
BLS_GEO_df_FINAL = BLS_GEO_df_merge[["series_id","year","MWE","MWE_Occupation Type",\
                                    "MWE_Skill Level", "MWE_How Paid"]+GeoID_2_BLS_Locations_df.columns.tolist()]
BLS_GEO_df_FINAL

series_id              53
year                   53
MWE                    53
MWE_Occupation Type    53
MWE_Skill Level        53
MWE_How Paid           53
cityid                 53
cityname               53
stateabbrev            53
statename              53
statefips              53
lat                    53
lon                    53
city_pop2019           53
GEO_city,state         53
dtype: int64